latency_test:
  concurrent_tests: 20
  retry_count: 1
  timeout: 2000
  batch_interval: 1
  max_nodes: 300
local_files: []
logging:
  file: clash_merger.log
  level: INFO
output:
  backup: true
  directory: output
  filename: optimized_clash_config.yaml
proxy:
  address: http://127.0.0.1:7890
  enable: false
repositories: []
yaml_urls:
- https://raw.githubusercontent.com/peasoft/NoMoreWalls/master/list.yml 